name: Lint
on: [pull_request, push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Vale
        uses: errata-ai/vale-action@v1.0.1
        with:
          styles: https://github.com/ConsenSys/Style-Guide/raw/master/consensys.zip
          config: https://raw.githubusercontent.com/ConsenSys/Style-Guide/master/.vale.ini
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
